@{
    ViewData["Title"] = "DotNet Core 中文社区";
}

<div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>

@ViewData["TopicList"]

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
